body {
    /* text-align: right; */
    direction: rtl;
    font-family: "Alexandria", sans-serif;
}
/*

/* start navbar  */
.navbar-expand-lg .navbar-collapse {
    justify-content: space-around;
}
.custom-dropdown-menu {
    left: auto;
    right: 0;
}

/* start hero section  */
.curved-line {
    right: 40%;
    transform: scaleX(-1);
}

/* start services section  */

.service-box .services-btn {
    left: 10px;
}

/* creativity section auto slider  */
.creativity .slider {
    animation: slide-animation-rtl 35s linear infinite;
}

@keyframes slide-animation-rtl {
    from {
        transform: translateX(300%);
    }
    to {
        transform: translateX(0);
    }
}


/* services section  */
.service-box {
    border-left: none;
    border-right: 4px solid var(--primary-color);
}
.services-icon {
    right: auto;
    left: -100px;
}
#our-services:hover .services-icon {
	left: -50px;
	right: auto;
	transform: rotate(30deg);
}
/* conatct section  */
.contact-form::after {
    right: 70%;
    left: auto;
    transform: scaleX(-1) rotate(-45deg);
}

/*************************
== About Us Page
*************************/
.lamp-container {
    left: 0;
    right: auto;
}

/*************************
== Next Digital page
*************************/
.next-hero .content {
    text-align: right;
}

/* packages  */
.packages ul li svg {
    margin-right: 0;
    margin-left: 8px;
}
.modon-ar {
    width: 75%;
}